<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("new_block.jpg") %>
      <div class="carousel-caption">
        Welcome To Mvit
      </div>
    </div>
    <div class="item">
      <%= image_tag("sticky-paper.jpg") %>
      <div class="carousel-caption">
        Welcome To Mvit
      </div>
    </div>
    <div class="item">
      <%= image_tag("let-your-voice-be-heard.jpg") %>
      <div class="carousel-caption">
        Welcome To Mvit
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#home-carousel" data-slide="prev">
    <p><i class="fa fa-arrow-left fa-lg"></i></p>
  </a>
  <a class="right carousel-control" href="#home-carousel" data-slide="next">
    <p><i class="fa fa-arrow-right fa-lg"></i></p>
  </a>
</div>
